body {
    margin: 0 auto;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 7fr 4fr;
}

.map {
    top: 0;
    left: 0;
    height: 100vh;
    position: sticky !important;
    background: #cccccc;
}

.list {
    z-index: 999;
    padding: 10px 15px;
    box-shadow: 0px 0px 12px 2px rgba(0, 0, 0, 0.23);
}